@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: Poppins;
}

html {
  scroll-behavior: smooth;
}

/*THIS IS THE START OF NEW MAIN PAGE GRID LAYOUT*/

#createButton {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  color: black;
  background-color: rgb(221, 176, 62);
  border: solid 2px rgb(181, 137, 54);
}

.createButton {
  border-radius: 3px;
  padding: 3px;
  background-color: #d39236;
  color: black;
  font-weight: 200;
  cursor: pointer;
}

.hiddenNav {
  margin-left: 10px;
  gap: 10px;
  margin-top: 10px;
}

.hiddenNavContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 30px;
  background-color: #e6adec;
  padding: 30px;
  background-image: url('https://cdn.pixabay.com/photo/2023/10/04/13/37/lemon-8293727_1280.jpg');
  border: black solid 2px;
}

.mbContainer {
  grid-column: 1/4;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  height: 85vh;
}

.moviesContainer {
  background-color: #ffcab0;
  border-radius: 10px;
  padding: 20px;
  border: black solid 2px;
}

.movieContainer {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  align-items: center;
  overflow-y: scroll;
}

.movieContainer img {
  height: 229px;
}

.movieContainer section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  height: 200px;
  margin-bottom: 15px;
  /* padding-bottom: 10px; */
}

/* .currentMovie {
  position: absolute;
  right: 0px;
  top: 0px;
} */

.booksContainer {
  background-color: #ffebbb;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  border: black solid 2px;
}
.bookContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  overflow-y: scroll;
  width: 100%;
}

.bookTextDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 200px;
  width: 85%;
}

/* .currentBook {
  position: absolute;
  right: 0px;
  top: 0px;
} */

.wcContainer {
  grid-column: 4/5;
  display: grid;
  grid-template-rows: 1fr 3fr;
  gap: 30px;
  width: 20vw;
  height: 85vh;
}

.weatherContainer {
  grid-row: 1/2;
  background-color: #fdffcd; 
  border-radius: 10px;
  padding: 10px;
  border: black solid 2px;
}

.checklistContainer {
  grid-row: 2/5;
  background-color: #e0ffcd; 
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  border: black solid 2px;
}

.checklistItem {
  display: flex;
  gap: 5px;
  padding: 10px;
  justify-content: center;
  background-color: rgb(160, 230, 144);
  margin-top: 5px;
  width: 150px;
  border: #a35f92 solid 2px;
  border-radius: 10px;
  position: relative;
  /* font-weight: 400; */
}

.checklistItem p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.checklistItem button {
  border-radius: 10px;
  width: 20px;
  position: absolute;
  right: 5px;
  background-color: rgb(206, 124, 108);
  border-style: hidden;
}

.checklistItem button:hover {
  transform: translateY(2px);
  background-color: rgb(221, 154, 141);
}

/* added a hide button for the menu button*/
.menu-button {
  display: none;
}
.nav-dropdown {
  position: relative;
  display: flex;
  gap: 36px;
  text-transform: uppercase;
  align-items: center;
  justify-self: center;
  padding-top: 15px;
  height: 5vh;
}

@media (max-width: 500px) {
  .mainNav {
    align-items: center;
    justify-content: center;
    background-color: goldenrod;
    width: 100vw;
    padding-bottom: 12px;
  }
  .mainNav div {
    font-size: 13px;
    font-weight: 600;
    width: 100vw;
    left: 20px;
    justify-content: center;
    align-items: center;
  }
  .nav-dropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 51px;
    width: 100%;
    right: 10px;
    gap: 0;
  }
  .nav-dropdown div {
    border-bottom: 1px solid white;
    padding: 15px;
    text-align: center;

    background-color: #a35f92;
    width: 100%;
  }
  .nav-dropdown.active {
    display: flex;
    justify-content: flex-start;
    z-index: 2;
  }
  .menu-button {
    display: contents;
    background: transparent;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: #a35f92;
  }
  .mainContainer {
    display: flex;
    flex-direction: column;
    gap: 250px;
    padding: 10px;
    height: 100vh;
    width: 95vw;
    justify-items: center;
    align-items: center;
  }

  .mbContainer {
    gap: 25px;
    width: 100vw;
    justify-items: center;
    height: 20vh;
  }

  .moviesContainer {
    height: 150px;
    width: 80%;
  }
  .booksContainer {
    background-color: #93c4e1;
    border-radius: 10px;
    width: 80%;
    height: 150px;
    width: 80%;
    padding: 15px;
    justify-self: center;
  }

   .bookContainer img {
    height: 100%;
  }

  .bookTextDiv {
    justify-content: space-evenly;
    height: 100px;
  }

  .currentBook {
    top: -29px;
  }

  .movieContainer {
    height: 170px;
    display: flex;
  }
  
  .movieContainer img {
    height: 100%;
  }

  .currentMovie {
    font-size: 1em;
  }

  .movieContainer section {
    height: 180px;
    /* overflow-y: scroll; */
  }

  .wcContainer {
    gap: 22px;
    width: 100vw;
    justify-items: center;
    height: 20vh;
  }

  .weatherContainer,
  .checklistContainer {
    background-color: #ddfff7;
    border-radius: 10px;
    width: 80%;
    justify-self: center;
  }
  .weatherContainer {
    height: 130px;
    padding: 10px;
    font-size: 11px;
  }
  .checklistContainer {
    background-color: rgb(236, 159, 144);
    height: 100px;
    padding: 20px;
  }

  .checklistItem {
    height: 1em;
  }
}

/* THIS IS THE END OF NEW MAIN PAGE GRID LAYOUT*/

header {
  background-color: goldenrod;
  padding-bottom: 10px;
}

.mainNav {
  position: relative;
  display: flex;
  gap: 36px;
  text-transform: uppercase;
  align-items: center;
  justify-self: center;
  padding-top: 15px;
  height: 5vh;
}

.mainNav div {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
}

div#movies:hover {
  text-decoration: underline;
  cursor: pointer;
}

div#home:hover {
  text-decoration: underline;
  cursor: pointer;
}

div#checklist:hover {
  text-decoration: underline;
  cursor: pointer;
}

div#books:hover {
  text-decoration: underline;
  cursor: pointer;
}

button#createButton {
  cursor: pointer;
}

.hiddenForm {
  position: relative;
  flex-direction: column;
}

/* css for sign up form */
.form-background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #dfdae0;
}
#loginContainer {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 600px;
  width: 500px;
  background-color: white;
  box-shadow: 8px 8px 20px rgba(209, 143, 193, 0.5);
  position: relative;
  overflow: hidden;
}
.btn {
  height: 60px;
  width: 300px;
  margin: 20px auto;
  box-shadow: 10px 10px 30px rgba(209, 143, 193, 0.5);
  border-radius: 6px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.login,
.signup {
  position: relative;
  display: block;
  padding: 10px 25px;
  border: none;
  background-color: #a35f92;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 3px;
}
.toggle {
  height: 60px;
  width: 150px;
  border-radius: 6px;
  background-image: linear-gradient(
    to right rgb(209, 143, 193),
    rgb(223, 218, 224)
  );
  position: absolute;
  top: 20px;
  left: 100px;
  transition: all 0.5s ease-in-out;
}
.moveslider {
  left: 250px;
}
.form-section-sl {
  height: 500px;
  width: 1000px;
  padding: 20px 0;
  display: flex;
  position: relative;
  transition: all 0.5s ease-in-out;
  left: -20px;
}
.form-section-move {
  left: -520px;
}
.userForm {
  background-color: white;
  width: 400px;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}

.inputContainer {
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 15px;
}
.input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #dfdae0;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}
::placeholder {
  color: transparent;
}
.label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: white;
  color: #dfdae0;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}
.signUpBtn,
.loginBtn {
  display: block;
  margin-left: auto;
  padding: 15px 30px;
  border: none;
  background-color: #a35f92;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
  cursor: pointer;
}
.signUpBtn:hover,
.loginBtn:hover {
  background-color: #d18fc0;
  transform: translateY(-2px);
}

.signUpBtn {
  margin-top: 10px;
  margin-bottom: 30px;
}
.input:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: #a35f92;
}
.input:focus {
  border: 2px solid #a35f92;
}

.input:not(:placeholder-shown) + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}
#loginForm {
  gap: 50px;
}

#signupForm {
  gap: 30px;
}
.loginForm,
.signupForm {
  height: 100%;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 40px;
}

#checklistPageDiv {
  width: 100vw;
  height: 90vh;
  background-color: purple;
  position: absolute;
  z-index: 1;
}

#bookPageDiv {
  width: 100vw;
  height: 100vh;
  background-color: green;
  position: absolute;
  z-index: 1;
}

#moviePageDiv {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 204, 255);
  position: absolute;
  z-index: 1;
}

/*START OF NAV BAR PAGE STYLING*/

.checklistPageItem {
  background-color: #d18fc0;
  margin: 5px;
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-top: 10px;
  border: white solid 2px;
  position: relative;
}

.deleteListItem {
  position: absolute;
  right: 0px;
  width: 20px;
  border-radius: 10px;
  background-color: none;
  border-style: hidden;
  background-color: #d18fc0;
}

.bookPageItem {
  background-color: rgb(44, 162, 44);
  margin: 5px;
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin-top: 10px;
  border: white solid 2px;
  position: relative;
}

.deleteBook {
  position: absolute;
  right: 0px;
  width: 20px;
  border-radius: 10px;
  background-color: none;
  border-style: hidden;
  background-color: rgb(44, 162, 44);
}

.moviePageItem {
  background-color: rgb(78, 201, 231);
  margin: 5px;
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  border: white solid 2px;
  margin-top: 10px;
  position: relative;
}

.deleteMovie {
  position: absolute;
  right: 0px;
  width: 20px;
  border-radius: 10px;
  background-color: none;
  border-style: hidden;
  background-color: rgb(78, 201, 231);
}

/*END OF NAV BAR PAGE STYLING*/