@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: monospace;
}

html {
  scroll-behavior: smooth;
}

/* #content {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 30px;
  width: 100vw;
  height: 100vh;
  background-color: blueviolet;
  padding: 0px 30px;
}
#moviesSection {
  grid-column: 1 / 11;
  grid-row: 1 / 3;
  background-color: antiquewhite;
}
#booksSection {
  grid-column: 3 / 9;
  grid-row: 3 / 5;
  background-color: black;
}
#calenderSection {
  grid-column: 3 / 9;
  grid-row: 5 / 10;
  background-color: aquamarine;
}
#checklistSection {
  grid-column: 1 / 3;
  grid-row: 3 / 10;
  background-color: brown;
}
#remindersSection {
  grid-column: 9 / 11;
  grid-row: 3 / 10;
  background-color: hotpink;
} */

/*THIS IS THE END*/

.mainContainer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 30px;
  background-color: #e6adec;
  padding: 30px;
 }
 
 .mbContainer {
   grid-column: 1/4;
   display: grid;
   grid-template-rows: 1fr 1fr;
   gap: 30px;
   
}

 .moviesContainer {
  background-color: #93c4e1;
  border-radius: 10px;
  height: 300px;
 }

 .booksContainer {
  background-color: #d3dbd9;
  border-radius: 10px;
  height: 300px;
 }
 
 .wcContainer {
   grid-column: 4/5;
   display: grid;
   grid-template-rows: 1fr 3fr;
   gap: 30px;
 }
 
 .weatherContainer {
   grid-row: 1/2;
   background-color: #ddfff7;
   border-radius: 10px;
 }
 
 .checklistContainer {
   grid-row: 2/5;
   background-color: rgb(236, 159, 144);
   border-radius: 10px;
   justify-content: center;
 }

 @media (max-width: 500px){
  
  .mainContainer {
    display: grid;
    grid-template-rows: 2fr 2fr 1fr 1fr;
    gap: 30px;
    background-color: #e6adec;
    padding: 10px;
    height: 650px;
    justify-content: center;
    align-items: center;
   }
   
   .mbContainer {
     grid-row: 1/4;
     display: grid;
     grid-template-rows: 1fr 1fr;
     
  }
  
   .moviesContainer {
    background-color: #93c4e1;
    border-radius: 10px;
    width: 300px;
    align-self: center;
   }
  
   .booksContainer {
    background-color: #d3dbd9;
    border-radius: 10px;
    width: 300px;
    height: 155px;
   }
   
   .wcContainer {
     grid-row: 4/6;
     display: grid;
     grid-template-rows: 1fr 3fr;
   }
   
   .weatherContainer {
     grid-row: 1/2;
     background-color: #ddfff7;
     border-radius: 10px;
     width: 300px;
   }
   
   .checklistContainer {
     grid-row: 2/5;
     background-color: rgb(236, 159, 144);
     border-radius: 10px;
     width: 300px;
   }
 }

 /* THIS IS THE END*/

header {
  background-color: goldenrod;
  padding-bottom: 10px;
}

.mainNav {
  position: relative;
  display: flex;
  gap: 36px;
  text-transform: uppercase;
  align-items: center;
  justify-self: center;
  padding-top: 15px;
}

.mainNav div {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
}

.mainNav div:hover {
  text-decoration: underline;
}

.hiddenForm {
  position: relative;
  flex-direction: column;
}

.checklistItem {
  display: flex;
  gap: 5px;
  padding: 10px;
}

/* css for sign up form */
#loginContainer {
  left: 80vh;
  top: 15vh;
  height: 600px;
  width: 500px;
  background-color: white;
  box-shadow: 8px 8px 20px rgba(209, 143, 193, 0.5);
  position: relative;
  overflow: hidden;
}
.btn {
  height: 60px;
  width: 300px;
  margin: 20px auto;
  box-shadow: 10px 10px 30px rgba(209, 143, 193, 0.5);
  border-radius: 6px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.login,
.signup {
  position: relative;
  display: block;
  padding: 10px 25px;
  border: none;
  background-color: #a35f92;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 3px;
}
.toggle {
  height: 60px;
  width: 150px;
  border-radius: 6px;
  background-image: linear-gradient(
    to right rgb(209, 143, 193),
    rgb(223, 218, 224)
  );
  position: absolute;
  top: 20px;
  left: 100px;
  transition: all 0.5s ease-in-out;
}
.moveslider {
  left: 250px;
}
.form-section-sl {
  height: 500px;
  width: 1000px;
  padding: 20px 0;
  display: flex;
  position: relative;
  transition: all 0.5s ease-in-out;
  left: 0px;
}
.form-section-move {
  left: -500px;
}
.userForm {
  background-color: white;
  width: 400px;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}

.inputContainer {
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 15px;
}
.input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #dfdae0;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}
::placeholder {
  color: transparent;
}
.label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: white;
  color: #dfdae0;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}
.signUpBtn,
.loginBtn {
  display: block;
  margin-left: auto;
  padding: 15px 30px;
  border: none;
  background-color: #a35f92;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
  cursor: pointer;
}
.signUpBtn:hover {
  background-color: #d18fc0;
  transform: translateY(-2px);
}

.loginBtn:hover {
  background-color: #d18fc0;
  transform: translateY(-2px);
}
.input:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: #a35f92;
}
.input:focus {
  border: 2px solid #a35f92;
}

.input:not(:placeholder-shown) + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}
#loginForm {
  gap: 50px;
}

#signupForm {
  gap: 30px;
}
.loginForm,
.signupForm {
  height: 100%;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 40px;
}

#foregroundDiv {
  width: 100vw;
  height: 100vh;
  background-color: green;
  position: absolute;
}
